/**
 * Foresight Sports Custom Fonts
 * TT Interfaces Pro Variable - Primary brand typeface
 */

@font-face {
    font-family: "TT Interfaces Pro Variable";
    src: url("/fonts/TT_Interphases_Pro_Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Optional: Create font-weight aliases for easier usage */
@font-face {
    font-family: "TT Interfaces Pro";
    src: url("/fonts/TT_Interphases_Pro_Variable.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Interfaces Pro";
    src: url("/fonts/TT_Interphases_Pro_Variable.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Interfaces Pro";
    src: url("/fonts/TT_Interphases_Pro_Variable.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Interfaces Pro";
    src: url("/fonts/TT_Interphases_Pro_Variable.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
